@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBFBFB;
    overflow-x: hidden;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
