{
    "all": true,
    "check-coverage": true,
    "extension": [".ts"],
    "include": [
        "src/core/**/*.ts",
        "src/**/*.ts"
    ],
    "exclude": [
        "src/index.ts"
    ],
    "loader": "ts-node/esm",
    "branches": 40,
    "lines": 40,
    "functions": 40,
    "statements": 40
}
