{
    "all": true,
    "check-coverage": true,
    "extension": [".ts"],
    "include": [
        "src/**/*.ts",
        "src/core/**/*.ts",
        "src/bots/discord/**/*.ts",
        "src/bots/discord/**/**/*.ts",
        "src/core/utils/response.ts"
    ],
    "loader": "ts-node/esm",
    "branches": 40,
    "lines": 40,
    "functions": 40,
    "statements": 40
}
